body {
  margin: 0;
  padding: 0;
}

section {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hading {
  margin: 0;
  text-align: center;
  z-index: -11;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  letter-spacing: 5px;
  font-weight: 800;
  padding: 1rem auto;
}

.bg {
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -40;
  filter: blur(10px) brightness(0.4);
}

.card {
  height: 50%;
  gap: 1rem;
  margin: auto;
  border-radius: 15px;
  transition-duration: 1s;
}
.card:hover {
  transform: rotatey(180deg) scale(1.5);
  border: 2px solid red;
  box-shadow: -10px 10px 15px red;
  /* opacity: 0.1; */
}
