@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323949;
  --text-color: #fff;
  --main-color: #00eeff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  width: 25vw;
}

.home-contect h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-contect h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}

.home-contect h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-contect p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* #about {
  min-height: 100vh;
} */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  min-height: 100vh;
}
.about-img {
  width: 35vw;
}

#about-me {
  text-align: left;
}
.hading {
  padding-top: 8rem;
  text-align: center;
  font-size: 4.5rem;
}

.about-content h3 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

#services-hading {
  padding-top: 10rem;
}

#services-sec {
  align-content: center;
}
.services {
  min-height: 100vh;
}
.services h2 {
  margin-bottom: 5rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 4.5rem;
}
.services-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 4rem;
  padding-left: 4rem;
}
.services-container .services-box {
  flex: 1 1 12rem;
  background: var(--second-bg-color);
  padding: 4rem 1rem 6rem;
  border-radius: 6rem;
  text-align: center;
  border: 0.3rem solid var(--bg-color);
  transition: 0.5s ease;
}
.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.03);
}

.services-box i {
  font-size: 5rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 3rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

#portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  display: flex;
}
.portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rej var(--bg-color);
  overflow: hidden;
}

.portfolio-box img {
  height: 200px;
}
