body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}
a{
  text-decoration: none;
  color: #000;
  
}

.center {
  display: flex;
  width: 100vw;
  height: 5rem;
  background-color: #f5f5f5;
  position: fixed;
  justify-content: center;
  z-index: 100;
}

.landscape-container {
  display: flex;
  flex-direction: row; /* Set layout to landscape orientation */
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  justify-content: space-around;
  padding: 6rem 20px 20px 20px;
  background-color: #f5f5f5;
}

.section {
  flex: 1 1 30%; /* Each section takes 30% width, allows wrapping */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.section:hover {
  transform: scale(1.02); /* Hover effect for visual interest */
}

.section h2 {
  text-align: center;
  color: #c51010;
  margin-top: 0;
}

/* Hover effects for list items */
.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.section ul li:last-child {
  border-bottom: none; /* No border for the last item */
}

.section ul li:hover {
  background-color:#c5101077; /* Background color change on hover */
  color: #000; /* Text color change on hover */
  cursor: pointer; /* Changes cursor to pointer on hover */
}
