@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* :root {
  --bg-color: #ffffff;
  --second-bg-color: #d1cece;
  --text-color: #000000;
  --main-color:#706666;
} */


:root {
  --bg-color: #1f242d;
  --second-bg-color: #323949;
  --text-color: #fff;
  --main-color: #00eeff;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 90vh;
  color: var(--text-color);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}

/* .logo {
  z-index: 91;
  font-size: 2.5rem;
  background-color: red;
  font-weight: 600;
  cursor: default;
} */

.logo {
  z-index: 100;
  cursor: default;
  height: 4rem;
  width: 4rem;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 1s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  margin: 0 3rem 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}




.home-contect h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}


#white-span{
  color: var(--text-color);
  padding: 0 5rem;
  
  }
  
  .home-contect h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }
  
  .Graphic-heading{
    color: var(--main-color);
  }
  /* .home-contect h3:nth-of-type(2) {
    margin-bottom: 2rem;
  } */
  span {
    text-align: center;
    justify-content: center;
    color: var(--main-color);
  }

.home-contect p {
  font-size: 1.6rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* #about {
  min-height: 100vh;
} */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  min-height: 100vh;
}

.about-img img{
  width: 25vw;
  padding: 1rem;
}

#about-me {
  text-align: left;
}
.hading {
  padding-top: 3rem;
  text-align: center;
  font-size: 4.5rem;
}
.margin-extra{
  padding-top: 8rem !important;}

.about-content h3 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

#services-hading {
  padding-top: 10rem;
}

#services-sec {
  align-content: center;
}
.services {
  min-height: 100vh;
}
.services h2 {
  text-align: center;
  margin: 3rem 0 10rem 0;
  font-size: 4.5rem;
}
.services-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 0 2rem 2rem 2rem;
}
.services-box {
  flex: 1 1 12rem;
  background: var(--second-bg-color);
  padding: 4rem 6rem;
  border-radius: 6rem;
  text-align: center;
  align-content: center;
  border: 0.3rem solid var(--bg-color);
  transition: 0.5s ease;
}
.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.03);
}

.services-box i {
  font-size: 5rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 3rem;
  text-align: center;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

#portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  flex-wrap: wrap;
  align-content: center;
  gap: 2.5rem;
  padding: auto 6rem;
}
.portfolio-box {
  width: 28vw;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rej var(--bg-color);
  overflow: hidden;
  padding: 0.5rem;
  transition-duration: 1s;
}
.portfolio-box img{
  width: 100%;
  border-radius: 1rem;
}
.portfolio-box h4, p{
  color: var(--text-color);
}

.portfolio-box:hover{
  transform: scale(1.1);
  transition-duration: 1s;
}

.portfolio-box img {
  height: 200px;
}

.portfolio-box i {
  color: var(--text-color);
  font-size: 1rem;
}

.contact{
  background-color: var(--bg-color);
}

.container-contact {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 0 10pxrgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* h1 {
  text-align: center;
  color: #333; */


form {
  display: grid;
  gap: .8rem;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
}


input,
textarea {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}






/* Mobile First Styles */

@media screen and (max-width: 480px) 
{
body{
  font-size: 1.6rem; /* Set a base font size for better scalability */
}


.logo {
  font-size: 2rem; /* Adjust font size for smaller screens */
}

.navbar{
  display: none;
  font-size: 1.4rem; /* Adjust font size for smaller screens */
}

#menu-icon {
  
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  display: inline; /* Display the menu icon on smaller screens */
}

.home {
  flex-direction: column; /* Stack home elements vertically on smaller screens */
  text-align: center;
  margin: 0;
}

.home-img img {
  width: 100%; /* Make the image fill the container on smaller screens */
}

.home-contect h1 {
  font-size: 3rem; /* Adjust font size for smaller screens */
}

#white-span {
  padding: 0; /* Remove extra padding for smaller screens */
}

.social-media a {
  width: 3rem; /* Adjust social media icon size for smaller screens */
  height: 3rem;
  margin: 1.5rem 1rem 1.5rem 0; /* Adjust margin for smaller screens */
}

.btn {
  padding: 1rem 2rem; /* Adjust button padding for smaller screens */
  font-size: 1.4rem; /* Adjust font size for smaller screens */
}


.about{
  display: flex;
  flex-direction: column;
  
  margin: 0;
}


.about img{
  width:90vw;
}

.about-content{
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0 2rem 4rem 2rem;
  justify-content: center;
  text-align: center;
}
#about-me{
  text-align: center;
  padding: 0;
  margin-top: 0;
}
.about-content h3{
  text-align: center;
}

.portfolio-container{
  flex-direction: column;
  padding: 2rem;
}


}

/* Media Queries for Tablets */
@media screen and (min-width: 768px) {
  .home {
    flex-direction: row; /* Switch back to horizontal layout for tablets */
  }
}



