* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #970013;
}
@font-face {
  font-family: BEDIN;
  src: url(./Fonts/BEDIN\ BOLD.TTF);
}

.header {
  justify-content: center;
  align-content: center;
  display: block;
}

.header img {
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 0 30%;
  padding-top: 2%;
}
.header h1 {
  color: white;
  font-family: BEDIN;
  text-transform: uppercase;
  padding: 0 30%;
  padding-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.main {
  height: 100vh;
}
.menu {
  display: flex;
  padding: 2rem 0;
}
.left {
  /* background-color: rgb(28, 28, 160); */
  align-items: left;

  width: 50%;
}
.right {
  /* background-color: blue; */

  width: 50%;
}
.right img {
  width: 100%;
}
.image {
  object-fit: cover;
}

.table {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
table tr td {
  padding: 1rem 1.5rem;
}
table tr {
  margin-left: 2rem;
}
.heading {
  font-family: BEDIN;
  font-size: 2rem;
  background: orange;
  color: white;
  padding: 0.5rem 0;
  width: 90%;
  letter-spacing: 0.2rem;
  border-radius: 0 4rem 4rem 0;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

td {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0;
}

td span {
  font-size: small;
}

.list {
  padding: 2rem 0;
}
.footer {
  background-color: rgb(224, 224, 31);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}
