* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  text-align: start;
  list-style: none;
}
ul img {
  padding-right: 8px;
}
ul li span {
  padding-left: 10px;
}
.container {
  padding: 30px;
  width: 50vw;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  padding: 5px;
}
.header h1 {
  color: #c9cacc;
}
.header img {
  height: 45px;
  padding-right: 10px;
}
.card {
  margin-top: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: contain;
}
.error {
  color: red;
}
/* tab screen */
@media screen and (max-width: 768px) {
 .container {
    width: 70vw;
  }
}

/* mobile screen */
@media screen and (max-width: 425px) {
.container {
  padding: 10px;
    width: 100vw;
  }
}
