* {
    margin: 0;
    padding: 0;
}


img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}

.name {
    top: 30vh;
    left: 27vw;
    position: absolute;
    font-size: 42px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #4070F4;
    background-color: white;
    padding: 5px 25px 5px 4px;
}

.filed{
    top: 43vh;
    left: 18vw;
    position: absolute;
    font-size: 38px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #0E2431;
    background-color:white;
    padding: 0px 25px 2px 4px;
}

