* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.haeding {
  text-transform: capitalize;
  padding: 10px;
  height: 10vh;
}

.main {
  /* background-color: firebrick; */
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.colrBoxCont {
  width: 20%;
  height: 25%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
/* .colrBoxCont span {
  position: absolute;
  bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  right: 1px;
} */
.copy {
  width: 100px;
  height: 40px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0.5;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  /* display: none; */
}

.show {
  background-color: #4e4e4e;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  display: none;
}
.display {
  display: flex;
}
.showBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: #00000048;
}
.showBox h1 {
  color: #fff;
  font-size: 5rem;
  letter-spacing: 5px;
}
