@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
ul {
  list-style: none;
}
.main {
  background-color: #d6d7da;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contanter {
  border-radius: 20px;
  overflow: hidden;
  height: 90%;
  width: 90%;
  display: flex;
  box-shadow: 4px 3px 10px #5f5f5f;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  background-color: #ffffff;
  width: 25%;
  height: 100%;
  padding: 25px;
}
.box {
  background-color: #f6f6f8;
  width: 75%;
}
.flex {
  display: flex;
  align-items: center;
}
.justify {
  justify-content: space-around;
}
.group {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 10%;
}
.group input {
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 80%;
  background-color: transparent;
}
.group input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.group i {
  font-size: 20px;
}
.weather-icon {
  max-width: 200px;
  object-fit: contain;
}
.row h1 {
  max-width: 100%;
  font-size: 4rem;
  font-weight: 400;
}
.row h1 sup {
  font-size: 2.5rem;
  font-weight: 400;
}
.row h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.row li {
  font-size: 1.2rem;
  font-weight: 500;
}
.row li i {
  padding-right: 5px;
}
.box {
  padding: 30px 20px;
}
.week-box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.week-box {
  padding: 10px;
  width: 12%;
  border-radius: 15px;
  background-color: #ffffff;
}
.week-box-img {
  max-width: 100%;
  text-align: center;
  object-fit: contain;
}
.Highlights-heading {
  padding: 10px;
  font-size: 1.5rem;
}
.highlight-box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
}
.highlight-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  padding: 30px 20px;
  border-radius: 15px;
}
.highlight-box h5 {
  font-size: 1rem;
  padding-bottom: 10px;
  color: #7c7c7c;
}
.highlight-box h1 {
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}
