@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
ul {
  list-style: none;
}
.main {
  background-color: #d6d7da;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contanter {
  border-radius: 20px;
  overflow: hidden;
  height: 90%;
  width: 90%;
  display: flex;
  box-shadow: 4px 3px 10px #5f5f5f;
}
.row {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: #ffffff;
  width: 25%;
  height: 100%;
  gap: 20px;
  padding: 25px;
}
.row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}
.box {
  background-color: #f6f6f8;
  width: 75%;
}
.flex {
  display: flex;
  align-items: center;
}
.justify {
  justify-content: space-around;
}
.group {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 10%;
}
.group input {
  margin-left: 5px;
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 80%;
  background-color: transparent;
}
.group input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.group i {
  font-size: 20px;
}
.weather-icon {
  width: 90%;
  object-fit: contain;
}
.row-wrapper h1 {
  /* max-width: 60%; */
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 5px;
}
.row-wrapper h1 sup {
  font-size: 2.5rem;
  font-weight: 400;
}
.row-wrapper h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.row-wrapper li {
  font-size: 1.2rem;
  font-weight: 500;
}
.row-wrapper li i {
  padding-right: 5px;
}
.box {
  padding: 30px 20px;
}
.week-box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.week-box {
  padding: 10px;
  width: 12%;
  border-radius: 15px;
  background-color: #ffffff;
}
.week-box-img {
  max-width: 100%;
  text-align: center;
  object-fit: contain;
}
.highlights-heading {
  padding: 10px;
  font-size: 1.7rem;
}
.highlight-box-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
}
.highlight-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  padding: 30px 20px;
  border-radius: 15px;
}
.highlight-box h5 {
  font-size: 1rem;
  padding-bottom: 10px;
  color: #7c7c7c;
}
.highlight-box h5 sup {
  font-size: 0.6rem;
}
.highlight-box h1 {
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}
.highlight-box h1 sup {
  font-size: 1rem;
}

/* media screen tablet */

@media screen and (max-width: 704px) {
  .row {
    width: 35%;
  }
  .box {
    width: 65%;
  }
  .highlight-box {
    width: 45%;
  }

  .highlight-box h5 {
    font-size: 0.7rem;
    padding-bottom: 10px;
  }
}

/* media screen small tablet */

@media screen and (max-width: 576px) {
  .row {
    width: 45%;
  }
  .box {
    width: 55%;
    overflow: auto;
  }
  .highlight-box {
    width: 100%;
  }

  .highlight-box h5 {
    font-size: 0.7rem;
    padding-bottom: 10px;
  }
}

/* media screen  mobile */

@media screen and (max-width: 425px) {
  .main {
    width: 100%;
  }
  .contanter {
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .row {
    width: 100%;
    height: auto;
  }
  .row h1 {
    font-size: 3rem;
  }
  .row-wrapper h4 {
    font-size: 1.2rem;
  }
  .box {
    width: 100%;
    overflow: auto;
  }
  .highlights-heading {
    font-size: 1.2rem;
  }
  .highlight-box-wrapper {
    align-items: center;
    justify-content: center;
  }
  .highlight-box {
    width: 80%;
  }

  .highlight-box h5 {
    font-size: 0.7rem;
    padding-bottom: 10px;
  }
}
/* media small screen  mobile */

@media screen and (max-width: 320px) {
  .highlight-box {
    width: 100%;
  }
}
