* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.left {
  background-color: white;
  border-right: 3px solid gray;
  height: 100vh;
  width: 20%;
  position: relative;
}

.logo img {
  height: 40px;
  width: auto;
  padding: 2rem 0 0 2rem;
}

.main {
  margin: 0;
  width: 55%;
  text-align: center;
}

.story{
  padding: 1rem;
  align-content: center;
  margin: 1rem 2rem 3rem 2rem;
  display: flex;
  justify-content: space-around;
}
.story-img{
  margin:1rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
}
.story-img img{
  border-radius: 100px;
  height: 70px;
  border: 3px rgb(163, 13, 177) solid;
}

.border{
  position: absolute;
  height: 90px;
}

.story-img p{
  font-size: 10px;
}

.post{
  padding: 1rem auto;
}

.post-1{
  margin: auto;
  padding: 2rem 0 0 0rem;
  width: 56%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.post-header{
  width:100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
}
.group-hearder{

  display: flex;
  align-items: center;
}


.post-img{
width: 100%;
border-radius: 10px;
margin: 5px 0;
}
.post-owner-img{
border-radius: 100px;
height: 50px;
}

.post-owner{
  padding-left: 5px;
}

.footer-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.group-footer{
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.likes{
  text-align: start;
  padding: 5px;
}

.post-deltd{
  text-align: start;
  padding: 5px;
}



.main-left{
  margin: 1rem;
}

.list-icon {
  display: flex;
  flex-direction: column;
justify-content: space-around;  
}
.icon {
  border-radius: 10px;
  width: 90%;
  margin: 5px 0px;
  align-items: center;
  font-size: 1.5rem;
  padding: 8px 14px;
}
.icon :hover{
  background-color: gainsboro;
}
.group-menu{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
  

.right {
  padding-top: 1rem;
  background-color: white;
  height: 100vh;
  width: 25%;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
}

.group {
  display: flex;
  align-items: center;
}

.img img {
  border-radius: 100px;
  height: 50px;
  padding-right: 1rem;
}

.btn {
  color: #0095f6;
}

.flex {
  display: flex;
  flex-direction: row;
}

.gray {
  color: gray;
}
.bold {
  font-weight: bold;
}
.delited {
  font-size: 14px;
}
.Suggested {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


.main{

}
