@font-face {
  font-family: "UrduFont";
  src: url("./Urdu/Jameel\ Noori\ Nastaleeq\ Kasheeda.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: rgb(41, 128, 185);
  background: linear-gradient(90deg, #2980b9 0%, #090979 45%, #2980b9 100%);
}

.main-box {
  width: 85vw;
  height: 85vh;
  background-color: #ffffffde;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  padding: 30px;
  position: relative;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
}
.header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.header ul li {
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}
.heading {
  font-family: UrduFont;
  font-size: 5rem;
  margin: 0;
}
.wrapper {
  height: 50%;
  overflow: auto;
}
#metter {
  font-family: UrduFont;
  color: green;
  font-size: 3rem;
  direction: rtl;
  text-align: center;
  margin: 0;
}

.bottom-button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #090979;
  color: white;
  border: none;
  padding-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

.bottom-button:hover {
  background-color: #2980b9;
}
